* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #111111;
    font-family: 'Plus Jakarta Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    text-align: center;
}

h1 {
    color: #ffffff;
    font-size: 5rem;
    font-family: sans-serif;
}

p {
    color: #8a8a8a;
    margin-top: 10px;
    font-size: 1rem;
    font-family: sans-serif;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    
    to {
        opacity: 1;
    }
}

#dashboard {
    display: none;
    color: #ffffff;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cards-container {
    display: flex;
    gap: 22px;
    margin-top: 20px;
    flex-wrap: wrap;
    padding: 0 20px;
    max-width: 600px;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #3b3054;
    padding: 20px;
    border-radius: 18px;
    font-size: 1rem;
    color: #ffffff;
    width: 180px;
    height: 91px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;  
    gap: 12px;
    align-items: center;
    transition: 0.3s ease;
}

.card p {
    color: white;
    font-size: 0.9rem;
}

.card h3 {
    margin: 2px;
    padding: 0;
    font-size: 1.2rem;
}

.card p {
    margin: 0;
    padding: 0;
    color: white;
}

.card:hover {
    cursor: pointer;
    transform: translateY(-5px);
    box-shadow: 0 0 10px rgb(93, 38, 93);
}

.card.completed {
    opacity: 0.3;
}